<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>ChatBox</title>
</head>
<body>
    <div class = "container">
        
        <div class = "title">
        <h1>ChatBox dos Guri</h1>
        </div>

        <div class = "bot">
            <h2>Não sei</h2>
            <form>
                <div class = "user">
                    <div class="form-floating">
                        <textarea class="form-control" id="user-text" name="text" placeholder="Como posso lhe ajudar?"></textarea>
                        <label for="comment"></label>
                    </div>
                    <button type="button" class="btn btn-outline-secondary">Enviar</button>
                </div>
            </form>
        </div>
        </div>
<!--
        <form>
            <div class = "user">
                <div class="form-floating">
                    <textarea class="form-control" id="user-text" name="text" placeholder="Como posso lhe ajudar?"></textarea>
                    <label for="comment"></label>
                </div>
                <button type="button" class="btn btn-outline-secondary">Enviar</button>
            </div>
        </form>
    </div>
-->


</body>
</html>